@page "/"

<h1>Calculator
<button class="btn btn-primary" @onclick="Clearing">Clear</button>
</h1>

<div id="textbox" style="@ColorBox: #FFECD7; padding: 5px; width: 500px; height: 50px; text-align: center; display: flex; justify-content: center; align-items: center;" contenteditable="false">
    @SinCosTanRecip @Input1 @Symbol @Input2 <br> @AnswerString @Error
</div>
<br />
@using Calculator3

<input type="text" @bind="myNumber" placeholder="Enter Number A" />
<input type="text" @bind="myNumber2" placeholder="Enter Number B" />
<br />
<div class="textbox-column">
    <br />
    <input type="text" value="A and B" readonly style="background-color: #EBEBEB; color: #000000;" />
    <input type="text" value="A Only" readonly style="background-color: #EBEBEB; color: #000000;" />
</div>

<br />
<style>
    .btn-primary {
        background-color: #EBEBEB;
        color: #000000;
    }
</style>
<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical btn-group-vertical-A-and-B">
            <button class="btn btn-primary btn-lg btn-block" @onclick="Adding">A + B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Subtracting">A - B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Multiplying">A * B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Dividing">A / B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Equals">A == B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Powering">A ^ B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Loging">A log B</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="Rooting">A root B</button>
        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group-vertical btn-group-vertical-Just-A">
            <button class="btn btn-primary btn-lg btn-block" @onclick="Factorialing">A !</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="SinAing">sin A</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="CosAing">cos A</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="TanAing">tan A</button>
            <button class="btn btn-primary btn-lg btn-block" @onclick="ReciprocalAing">1 / A</button>
        </div>
    </div>
</div>

@code {

    private bool IsTextBoxRed { get; set; }

   
    private string ColorBox => IsTextBoxRed ? "background-color: #B70F0A; color: white; padding: 5px; width: 500px; height: 50px; text-align: center; display: flex; justify-content: center; align-items: center;" : "background-color: #FFECD7; color: black; padding: 5px; width: 500px; height: 50px; text-align: center; display: flex; justify-content: center; align-items: center;";
}


@code {

    public string SinCosTanRecip = "";

    public string myNumber { get; set; } = "0";
    public string myNumber2 { get; set; } = "0";

    public string Input1 = "";
    public string Input2 = "";



    public static double Answer;
    public string Error = "Enter a value(s) below and select an operation.";

    public string AnswerString;

    public string Symbol;


    private void Clearing()
    {
        myNumber = "0";
        myNumber2 = "0";
        Input1 = "";
        Input2 = "";
        Error = "Enter a value(s) below and select an operation.";
        Answer = 0;
        AnswerString = "";
        Symbol = "";
        IsTextBoxRed = false;
        SinCosTanRecip = "";


    }

    private void Empty()
    {
        AnswerString = "";
        Input1 = "";
        Input2 = "";
        Symbol = "";
        Error = "Please Enter a Number";
        SinCosTanRecip = "";
        IsTextBoxRed = true;
    }

    private void EmptyA()
    {
        AnswerString = "";
        Input1 = "";
        Input2 = "";
        Symbol = "";
        Error = "Please Enter Number For A";
        SinCosTanRecip = "";
        IsTextBoxRed = true;

    }


    private void EmptyCannotZero()
    {
        AnswerString = "";
        Answer = 0;

        Symbol = "/";
        Error = "= Not a Number";

        Input1 = myNumber;
        Input2 = myNumber2;

        SinCosTanRecip = "";

        IsTextBoxRed = true;

    }

    private void Adding()
    {
        double number1;
        double number2;

        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Add(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "+";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }


    }

    private void Subtracting()
    {
        double number1;
        double number2;

        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Subtract(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "-";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Multiplying()
    {
        double number1;
        double number2;
        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Multiply(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "*";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Dividing()
    {
        double number1;
        double number2;
        if (myNumber == "" || myNumber2 == "")
        {

            Empty();
        }
        if (myNumber2 == "0")
        {
            EmptyCannotZero();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Divide(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "/";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Equals()
    {
        double number1;
        double number2;
        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Equals(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "==";
            if (Answer == 0)
            {
                AnswerString = "False";

            }
            else
            {
                AnswerString = "True";
            }
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Powering()
    {
        double number1;
        double number2;
        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Power(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "^";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Loging()
    {
        double number1;
        double number2;
        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Log(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "log";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Rooting()
    {
        double number1;
        double number2;
        if (myNumber == "" || myNumber2 == "")
        {
            Empty();
        }
        else if (!double.TryParse(myNumber, out number1) || !double.TryParse(myNumber2, out number2))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Root(double.Parse(myNumber), double.Parse(myNumber2));
            Symbol = "root";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void Factorialing()
    {
        double number1;
        if (myNumber == "")
        {
            EmptyA();
        }
        else if (!double.TryParse(myNumber, out number1))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Factorial(double.Parse(myNumber));
            Symbol = "!";
            myNumber2 = "";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "";
            IsTextBoxRed = false;
        }

    }

    private void SinAing()
    {
        double number1;
        if (myNumber == "")
        {
            EmptyA();
        }
        else if (!double.TryParse(myNumber, out number1))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.SinA(double.Parse(myNumber));
            Symbol = "";
            myNumber2 = "";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "Sin ";
            IsTextBoxRed = false;
        }

    }

    private void CosAing()
    {
        double number1;
        if (myNumber == "")
        {
            EmptyA();
        }
        else if (!double.TryParse(myNumber, out number1))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.CosA(double.Parse(myNumber));
            Symbol = "";
            myNumber2 = "";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "Cos ";
            IsTextBoxRed = false;
        }

    }

    private void TanAing()
    {
        double number1;
        if (myNumber == "")
        {
            EmptyA();
        }
        else if (!double.TryParse(myNumber, out number1))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.TanA(double.Parse(myNumber));
            Symbol = "";
            myNumber2 = "";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "Tan ";
            IsTextBoxRed = false;
        }

    }

    private void ReciprocalAing()
    {
        double number1;
        if (myNumber == "")
        {
            EmptyA();
        }
        else if (!double.TryParse(myNumber, out number1))
        {
            Input1 = "";
            Input2 = "";
            AnswerString = "";
            Symbol = "";
            Error = "Invalid Input, Numbers Only";
            IsTextBoxRed = true;

        }
        else
        {
            Answer = Calculator3.Program.Reciprocal(double.Parse(myNumber));
            Symbol = "";
            myNumber2 = "";
            AnswerString = Answer.ToString();
            Input1 = myNumber;
            Input2 = myNumber2 + " =";
            Error = "";
            SinCosTanRecip = "1 / ";
            IsTextBoxRed = false;
        }

    }
}
